# Copyright (c) 2020 The ZMK Contributors
# SPDX-License-Identifier: MIT

if SHIELD_REVIUNG36

config ZMK_KEYBOARD_NAME
    default "reviung36"

config ZMK_POINTING
    default y

config SPI
    default y

endif
